@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light);

:root {
  --bg-color-start: #425e4f;
  --bg-color-end: #4c7554;
}

body,
html,
div.board,
div#react-container {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
}

div.board {
  background: var(--bg-color-start);
  background: -moz-radial-gradient(center, ellipse cover, var(--bg-color-start) 57%, var(--bg-color-end) 99%);
  background: -webkit-gradient(radial, center center, 0, center center, 100%, color-stop(57%, var(--bg-color-start)), color-stop(99%, var(--bg-color-end)));
  background: -webkit-radial-gradient(center, ellipse cover, var(--bg-color-start) 57%, var(--bg-color-end) 99%);
  background: -o-radial-gradient(center, ellipse cover, var(--bg-color-start) 57%, var(--bg-color-end) 99%);
  background: -ms-radial-gradient(center, ellipse cover, var(--bg-color-start) 57%, var(--bg-color-end) 99%);
  background: radial-gradient(ellipse at center, var(--bg-color-start) 57%, var(--bg-color-end) 99%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='var(--bg-color-start)', endColorstr='var(--bg-color-end)', GradientType=1);
  height: 1000px;
  width: 100%;
}

div.note {
  background-color: yellow;
  -webkit-box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.2);
  cursor: -webkit-grab;
  height: 150px;
  margin: 2px 0;
  position: absolute;
  width: 150px;
}

div.note:active {
  cursor: -webkit-grabbing;
}

div.note p {
  font-family: "Shadows Into Light", Arial, sans-serif;
  font-size: 22px;
  padding: 5px;
}

div.note > span {
  bottom: 2px;
  opacity: 0;
  position: absolute;
  right: 2px;
  transition: opacity 0.25s linear;
}

div.note:hover > span {
  opacity: 1;
}

div.note button {
  margin: 2px;
}

div.note > textarea {
  background: rgba(255, 255, 255, 0.5);
  height: 75%;
}

div.board button {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.55);
  color: #fff;
  font-size: 14px;
}

#add {
  background-color: #5cb85c;
  height: 3em;
}

#edit {
  background-color: #337ab7;
}

#save {
  background-color: #5cb85c;
}

#remove {
  background-color: #d9534f;
}
